:root{
  background-color: rgba(128, 128, 128, 0.696);
  /* align-items: center;
  display: flex;
  align-items:center;
  justify-content:center; */
}

.container{
    border: solid black 5px ;
  background-color: blueviolet;
  display: flex;
  align-items:center;
  justify-content:space-around;
  flex-direction: column;

  width: 500px;
  height: 70vh;
}
input{
height: 25px;
width: 80%;
border: solid black 2px ;
border-radius: 5px;

}
button{
  height: 25px;
  width: 25%;
  border: solid black 2px ;

}
.title{
  font-size: 40px;
}




















.cnt{
  background-color: rgb(160, 26, 26);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  margin-top: 50vh;
}
h1{
  font-size: x-large;
}
button{
  font-size: 20px;
}