

.card #card-image{
  height: 250px;
  width: 250px;
  border-radius: 10%;
  margin-bottom: 10px;
}

.card #card-title{
font-family:monospace;
}

.card .about{
  font-family:monospace;
  line-height: 120%;
  color: rgba(0, 0, 0, 0.574);

}

.card{
  border: 1px solid rgba(15, 124, 109, 0.834);
  border-radius: 10%;
  box-shadow: 5px 5px rgba(7, 139, 84, 0.384);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  
  display: inline-block;
  background-color: aliceblue;
}
/* :root{
  background-color: rgb(31, 29, 29);
} */

.logInMessage{
  color:beige;
  background-color: brown;


}
.welcomeMessage{
  color: blanchedalmond;
  background-color: rgba(50, 50, 219, 0.79);
}